name: Deploy to Oracle Cloud

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.ORACLE_HOST }}
          username: ${{ secrets.ORACLE_USER }}
          key: ${{ secrets.ORACLE_SSH_KEY }}
          port: 22
          script: |
            # 1. Entra na pasta do projeto
            cd /home/${{ secrets.ORACLE_USER }}/apps/sample-nestjs-api
            
            # 2. Força a atualização do código para trazer o deploy.sh do Git
            git pull origin main
            
            # 3. Agora que o arquivo existe, dá permissão e executa
            chmod +x deploy.sh
            ./deploy.sh
