name: Deploy to Oracle Cloud

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.ORACLE_HOST }}
          username: ${{ secrets.ORACLE_USER }}
          key: ${{ secrets.ORACLE_SSH_KEY }}
          port: 22
          script: |
            cd /home/${{ secrets.ORACLE_USER }}/apps/sample-nestjs-api
            # Garante que o script tem permissão de execução
            chmod +x deploy.sh
            # Executa o deploy
            ./deploy.sh
